.introParagraph-container {
  grid-row: span 1;
  align-content: center;
}

.introParagraph-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.introParagraph-text {
  font-size: 18px;
  text-align: center;
  /*text-align: justify;
  text-justify: distribute;*/
}