.relatedPage-container {
  height: 81.25vh;
  overflow-y: auto;
}

.relatedPage-title {
  text-align: center;
}

.relatedPage-listing {
  display: grid;
}

@media (width <= 1024px) {
  .relatedPage-listing {
    grid-template-columns: 1fr;
  }
}

@media (width > 1024px) {
  .relatedPage-listing {
    grid-template-columns: 1fr 1fr;
  }
}