.titleBar-container {
  grid-row: 1 / 3;
  background-image: linear-gradient(to Right, #F18B02, #EC6A0E);
  display: grid;
  grid-template-columns: repeat(8, minmax(50px, 1fr));
  color: white;
  align-items: center;
  height: 100%;
}

.titleBar-title-container {
  grid-column: 1 / 5;
}

.titleBar-smallTitle-container {
  grid-column: 1 / 4;
}

.titleBar-title {
  font-size: xx-large;
  font-weight: bold;
  margin-left: 15px
}

.titleBar-item-container {
  grid-column: span 1;
  text-align: center;
  font-size: larger;
  height: 100%;
  align-content: center;
}

.titleBar-item-container:hover {
  text-decoration: none;
  background-color: #ed853b;
}