.coverItem-container {
  display: grid;
  grid-template-rows: repeat(13, minmax(50px, 1fr));
  height: 100%;
}

.coverItem-image-container {
  grid-row: span 11; /* COM BUTOES */
  align-content: center;
  height: 100%;
  /*grid-row: span 13;*/ /* SEM BUTOES */
}

.coverItem-image {
  display: block;
  margin: auto;
  /*width: 85%;*/
  /*border: 1px solid black;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.coverItem-bottom {
  grid-row: span 2;
  align-items: center;
  height: 100%;
  display: grid;
  /*grid-template-columns: 1fr 1fr;*/
}

.coverItem-button-container {
  grid-column: span 1;
  align-content: center;
  justify-items: center;
  display: grid;
  height: 100%;
}

.coverItem-button-style {
  text-align: center;
  margin: 15px;
  background:
    linear-gradient(#f6f6f6, #f6f6f6) padding-box,
    linear-gradient(to Right, #F18B02, #EC6A0E) border-box;
  border: 2px solid transparent;
  border-radius: 15px;
  align-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.coverItem-button-style:hover {
  box-shadow: 0px 5px 15px 2px #999999;
}

@media (width <= 512px) {
  .coverItem-image {
    width: 225px;
    height: 330px;
  }

  .coverItem-button-style {
    width: 225px;
  }
}

@media (512px < width <= 1024px) {
  .coverItem-image {
    width: 337.5px;
    height: 495px;
  }

  .coverItem-button-style {
    width: 337.5px;
  }
}

@media (width > 1024px) {
  .coverItem-image {
    width: 450px;
    height: 660px;
  }

  .coverItem-button-style {
    width: 450px;
  }
}