.homePage-container {
  grid-row: span 13;
  display: grid;
  grid-template-columns: 4fr 3fr 4fr;
  align-items: center;
  height: 100%;
}

.homePage-element {
  grid-column: span 1;
  height: 100%;
}

.homePage-intro {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}